/*  your css code here. If applicable */
#display {
    height: 600px; 
    width: 400px; 
    border: 1px solid black;
    display: grid;
    grid-template-rows: 1fr repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

#display > div {
    border: 1px solid black;
	text-align:center;
}

#display :first-child {
    grid-column: 1 /-1;
}
#inputs{
    width:100%;
    height:100%;
    box-sizing:border-box;
    font-size:25px;
}