/*  your css code here. If applicable */
#calculator {
    height: 600px; 
    width: 400px; 
    border: 1px solid black;
    display: grid;
    grid-template-rows: 1fr repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

#calculator > div {
    border: 1px solid black;
	text-align:center;
}
#display {
    grid-column: 1 / -1;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 25px;
}